



    <div class="container text-center">
      <h2>Mary</h2>
      <div class="row">
        <div class="col-sm-4">
          <p class="bookings-header-title">Your bookings</p>
        </div>
        <div class="col-sm-4">
          <p class="jobs-header-title">Your jobs</p>
        </div>
        <div class="col-sm-4">
          <p class="profile-header-title">Profile Settings</p>
        </div>
      </div>
    </div><br>


<style>
.bookings-thumbnail {
  display: inline-block; background-color: grey; width: 50px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

</style>




<div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-14">

          <% @bookings.each_with_index do |booking, idx|%>

              <% number_hours = (booking.end_datetime - booking.start_datetime) / 3600 %>

                <% status_color = booking.status === 'Accepted' ? 'green' : 'red' %>
                  <div class="booking-container">
                    <div class="container text-center">

                      <div class="row booking-first-half <%= status_color %>">

                        <div class="col-sm-4">
                          <p class="booking-index">#<%= idx + 1%></p>
                        </div>
                        <div class="col-sm-4">
                          <p class="booking-date">
                            <%= booking.start_datetime.strftime("%m/%d/%Y") %>
                          </p>
                        </div>
                        <div class="col-sm-4">
                          <p class="booking-duration">30 min</p>
                          <p class="booking-total-cost">
                            $<%= booking.cost.tr('$','').to_i * number_hours.round(0) %>
                          </p>
                        </div>
                      </div>
                    </div><br>

                    <div class="container">
                      <div class="row ">
                        <div class="col-sm-12 text-center">
                          <p class="bookings-thumbnail">image</p>
                        </div>
                      </div>
                    </div><br>

                    <div class="container text-center">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="location-box">
                            <p class="booking-title">Kit Kat</p> <!-- To be changed -->
                            <p class="location-data"><%= booking.location %></p>
                          </div>
                        </div>
                      </div>
                    </div><br>
                  </div>


          <% end %>

        </div>

    </div>
</div>


