<h1>Bookings#edit</h1>
<p>Find me in app/views/bookings/edit.html.erb</p>

<%= simple_form_for [@package, @booking] do |f| %>
  <%= f.input :title %>
  <%= f.input :location %>
  <%= f.input :start_datetime %>
  <%= f.input :end_datetime %>
  <%= f.input :cost %>
  <%= f.submit 'Request booking', class: "btn btn-primary" %>
<% end %>
