<%= render "./layouts/profile-header" %>

<!-- An edit page displays the edit options -->
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <%= simple_form_for @user do |f| %>
        <br>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :location %>
        <%= f.input :url_image %>
        <%= f.button :submit %>
        <% end %>
    </div>
  </div>
</div>


 <%# link_to 'Packages', packages_path %>
