<div class="navbar-wagon">

<%= link_to 'Drone', packages_path %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>
      <%= current_user.first_name %>
    <% end %>
    <br>
    <%= link_to 'Drone Packages', packages_path, class: "btn btn-default" %>
    <br>
    <%= link_to 'Your Bookings', dashboard_path, class: "btn btn-default" %>

    <!-- DROPDOWN - DESKTOP -------------------------------------------------------------------------- -->

    <div class="navbar-wagon-item">
      <div class="dropdown">

        <% if user_signed_in? %>

          <% if current_user.url_image.nil? %>
              <img src="http://www.buckinghamandcompany.com.au/wp-content/uploads/2016/03/profile-placeholder.png" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <% else %>
              <img src="<%=current_user.url_image %>" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <% end %>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

          <% if user_signed_in? %>
            <li><%= link_to 'Your Bookings', dashboard_path  %></li>
            <li><%= link_to 'Add Package', new_package_path  %></li>
            <li><%= link_to 'Your Profile', edit_user_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Drone Packages', packages_path %></li>
            <br>
            <li><%= link_to 'Log In', new_user_session_path %></li>
          <% end %>

        <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- MOBILE ONLY------------------------------------------------------------------ -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <% if user_signed_in? %>
            <li><%= link_to 'Your Bookings', dashboard_path  %></li>
            <li><%= link_to 'Add Package', new_package_path  %></li>
            <li><%= link_to 'Your Profile', edit_user_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Log In', new_user_session_path %></li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
